.App {
  text-align: center;
  margin: 20px;
}

h1 {
  color: #d31212;
}

h2 {
  color: #920909;
}

form {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}